mat-card {
  background-color: rgb(235, 134, 109);

  mat-card-content {
    display: flex;
    flex-direction: row;
  }
  mat-card-subtitle {
    font-size: 20px;
    color: black;
  }

  .patient {
    color: rgb(0, 255, 128);
    font-size: 20px;
  }

  .text {
    font-size: 20px;
    color: #000;
  }

  img {
    border-radius: 30px;
    padding: 30px;
    max-width: 300px;
    max-height: 140px;
    margin-left: auto;
    margin-bottom: 0;
  }

  mat-card-title {
    font-size: 30px;
    color: black;
  }
}
.action-btn {
  color: rgb(238, 15, 15);
}

.container {
  width: 400px;
  margin: 10px;
}
.editer {
  color: rgb(15, 119, 238);
}
