<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/']" style="font-size: 25px"> Device </a>
    <div fxShow="false" fxHide.gt-sm="false">
      <button
        mat-button
        *ngFor="let item of categories"
        [routerLink]="[item.url]"
        routerLinkActive="active"
        appOnHover
      >
        <mat-icon *ngIf="item.icon != null">{{ item.icon }}</mat-icon>
        {{ item.title }}&nbsp;
      </button>
      <span style="flex: 1 1"></span>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button [matMenuTriggerFor]="menu">
        Menu &nbsp;
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let item of categories"
          [routerLink]="[item.url]"
          routerLinkActive="active"
        >
          <mat-icon *ngIf="item.icon != null">{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
