.imdb {
  width: 40px;
  text-align: center;
  color: white;
}

img {
  width: calc(100% + 32px);
  height: auto;
  margin-left: -16px;
}

.action-btn {
  position: fixed;
  bottom: 70px;
  right: 16px;
}

mat-card.fixed {
  bottom: 0;
  justify-content: center;
  border: 3px solid #b42c2c;
}
